{% load static %}

<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }}</title>

    {% block links %}
        <link rel="stylesheet" href="{% static 'main/css/main.css' %}" type="text/css">
        <link rel="shortcut icon" href="{{ page.icon.url }}" type="image/x-icon">
        <script src="https://api-maps.yandex.ru/2.1/?apikey=84581bbc-3c76-4aac-a548-b25c7c57fda4&lang=ru_RU"
                type="text/javascript">
        </script>s
    {% endblock %}
</head>
<body>

{% block content %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

</body>
</html>