{% extends 'main/base.html' %}
{% load static %}

{% block links %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'main/css/city.css' %}" type="text/css">
{% endblock %}

{% block content %}
{{ block.super }}
    <div class="city-page">
        <div class="name-cell">
            <h1>{{ city.name }}</h1>
            <p>{{ city.annotation }}</p>
        </div>
        <div class="photo-cell new">
            <img src="{{ city.new_image.url }}" alt="new-photo" class="photo"/>
        </div>
        <div class="text-cell">
            <p>{{ city.text }}</p>
        </div>
        <div class="photo-cell old">
            <img src="{{ city.old_image.url }}" alt="old-photo" class="photo"/>
        </div>
        <a href="/#map" class="back-button">
            <img class="back-arrow" src="{% static 'main/img/back_arrow.png' %}" alt="back_arrow"/>
        </a>
    </div>
{% endblock %}

{% block scripts %}
{{ block.super }}
{% endblock %}
