{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    {{ block.super }}
    <div class="page head">
        <div class="image">
            <div class="gradient"></div>
            <div class="main-title"></div>
            <div class="text-container">
                <h2>Проект по Основам Российской Государственности</h2>
                <hr>
                <p>студентов ФКН НИУ ВШЭ Бородулина Арсения, Марченко Артёма, Шиляева Даниила</p>
            </div>
        </div>
    </div>

    <div class="page map" id="map">
        <div class="map-container">
            <div class="map-view"></div>
        </div>
    </div>

    <div class="half-page foot">
        <h1>Обратная связь:</h1>
        <div class="contacts-row">
            <a href="https://t.me/owouwuwuowo" class="contact" id="persik">
                <img src="{% static 'main/img/qrs/persik.png' %}" alt="m3tr0" class="qr"/>
                <h2 class="name">Бородулин</h2>
                <h2 class="name">Арсений</h2>
            </a>
            <a href="http://m3tr0.ru" class="contact" id="m3tr0">
                <img src="{% static 'main/img/qrs/m3tr0.png' %}" alt="m3tr0" class="qr"/>
                <h2 class="name">Марченко</h2>
                <h2 class="name">Артём</h2>
            </a>
            <a href="https://t.me/demonbiker14" class="contact" id="daniel">
                <img src="{% static 'main/img/qrs/daniel.png' %}" alt="m3tr0" class="qr"/>
                <h2 class="name">Шиляев</h2>
                <h2 class="name">Даниил</h2>
            </a>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="application/javascript" src="https://api-maps.yandex.ru/2.1/?apikey=84581bbc-3c76-4aac-a548-b25c7c57fda4&lang=ru_RU"></script>
    <script type="application/javascript" src="{% static 'main/js/contact.js' %}"></script>
    <script type="application/javascript" src="{% static 'main/js/map.js' %}"></script>
{% endblock %}
