{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    {{ block.super }}
    <div class="page head">
        <div class="image">
            <div class="gradient">
                <div class="main-title">
                    <div class="text-container">
                        <h2>Проект по Истории России</h2>
                        <hr>
                        <p>студентов ФКН НИУ ВШЭ Абулханова Дамира, Бородулина Арсения, Марченко Артёма, Шиляева Даниила</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page map" id="map">
        <div class="map-container">
            <div class="map-view"></div>
        </div>
    </div>

    <div class="footer">
        <h1>Обратная связь:</h1>
        <div class="contact-cell">
            <a href="https://t.me/skolopendromorff" class="contact" id="damir">
                <h2 class="name">Абулханов<br/>Дамир</h2>
                <img src="{% static 'main/img/qrs/damir.png' %}" alt="damir" class="qr"/>
            </a>
        </div>
        <div class="contact-cell">
            <a href="https://t.me/owouwuwuowo" class="contact" id="persik">
                <h2 class="name">Бородулин<br/>Арсений</h2>
                <img src="{% static 'main/img/qrs/persik.png' %}" alt="persik" class="qr"/>
            </a>
        </div>
        <div class="contact-cell">
            <a href="http://m3tr0.ru" class="contact" id="m3tr0">
                <h2 class="name">Марченко<br/>Артём</h2>
                <img src="{% static 'main/img/qrs/m3tr0.png' %}" alt="m3tr0" class="qr"/>
            </a>
        </div>
        <div></div>
        <div class="contact-cell">
            <a href="https://t.me/demonbiker14" class="contact" id="daniel">
                <h2 class="name">Шиляев<br/>Даниил</h2>
                <img src="{% static 'main/img/qrs/daniel.png' %}" alt="daniel" class="qr"/>
            </a>
        </div>
        <div></div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="application/javascript" src="https://api-maps.yandex.ru/2.1/?apikey=84581bbc-3c76-4aac-a548-b25c7c57fda4&lang=ru_RU"></script>
    <script type="application/javascript" src="{% static 'main/js/contact.js' %}"></script>
    <script type="application/javascript" src="{% static 'main/js/map.js' %}"></script>
{% endblock %}
