.city-page {
    display: grid;
    background-color: #212121;
    grid-template-columns: 2fr 3fr 60px;
    grid-template-rows: 2fr 3fr;
    grid-template-areas:
            "C B A"
            "D E A";
    height: 100vh;
    width: 100%;
}

.back-button {
    background-color: darkred;

    grid-area: A;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.back-button .back-arrow {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.photo-cell {
    overflow: hidden;

    box-sizing: border-box;
    padding: 10px;

    display: flex;
}

.photo-cell.new {
    grid-area: C;
}

.photo-cell.old {
    grid-area: E;
}

.photo-cell .photo {
    background: url("../img/map.png") no-repeat center center;
    background-size: 100% 100%;

    box-sizing: border-box;
    padding: 10px;

    max-height: 100%;
    max-width: 100%;

    margin: auto;
}

.name-cell {
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    grid-area: B;
}

.text-cell {
    box-sizing: border-box;
    padding: 10px;
    text-align: right;
    grid-area: D;
    overflow: scroll;
}

h1, p {
    text-align: inherit;
    color: #c4dce8;
    margin: 10px;
}

@media screen and (max-width: 600px) {
    .city-page {
        grid-template-columns: 100%;
        grid-template-rows: 60px auto auto auto auto;
        grid-template-areas: "A" "B" "C" "D" "E";
        width: 100%;
        min-height: 100vh;
        height: auto;
    }

    .text-cell {
        overflow: visible;
    }
}
