body {
    margin: 0;
    font-family: 'Cascadia Code SemiBold', sans-serif;
}

a {
    text-decoration: none;
}

.page {
    position: relative;
    height: 100vh;
    width: 100%;
}

.page.head {
    background-color: #212121;
    box-sizing: border-box;
    padding: 10px;
}

.page.head .image {
    background: url("../img/background.jpg") no-repeat center left;
    background-size: 60% auto;
    width: 100%;
    height: 100%;
}

.page.head .gradient {
    background-image: linear-gradient(to right, transparent, darkred 40%, darkred);
    width: 100%;
    height: 100%;

    overflow: hidden;
}

.page.head .main-title {
    background: url("../img/title.png") no-repeat center right;
    background-size: 80% auto;

    margin-top: -70px;

    width: 100%;
    height: 100%;
}

.page.head .text-container {
    background: #212121;

    position: absolute;

    right: 30px;
    bottom: 30px;

    width: 500px;

    box-sizing: border-box;
    padding: 10px;
}

.page.head .text-container h2, p {
    margin: 0;
    color: #c4dce8;

    text-align: right;
}

.page.map {
    background: #212121;

    box-sizing: border-box;
    padding: 50px;
}

.page.map .map-container {
    background: url("../img/map.png") no-repeat center center;
    background-size: 100% 100%;

    width: 100%;
    height: 100%;

    box-sizing: border-box;
    padding: 20px;
}

.page.map .map-view {
    width: 100%;
    height: 100%;
}

.footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "A A A" "B C D" ". E .";
    background-color: darkred;
}

.footer h1 {
    grid-area: A;

    margin: 10px;
    text-align: center;
    color: #212121;
}

.footer .contact-cell {
    width: 100%;
    height: 100%;

    padding: 10px;
    box-sizing: border-box;
}

.contact {
    background-color: #212121;
    width: 100%;
    height: 100%;

    padding: 10px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.contact .qr {
    object-fit: contain;
    width: 50%;
    height: 100%;
}

.contact h2 {
    color: #c4dce8;
    margin: 0;

    text-align: right;
}

@font-face {
  font-family: "Cascadia Code SemiBold";
  src: url("../fonts/Cascadia_Code_SemiBold_600.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@media screen and (max-width: 900px) {
    .page.head .image {
        background-size: auto 100%;
    }

    .page.head .main-title {
        background-size: 90%;
    }

    .contact {
        display: block;
    }

    .contact .qr {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 900px) and (max-height: 500px) {
    .page.head .image {
        background-size: 60% auto;
    }
}

@media screen and (max-width: 600px) {
    .page.head .image {
        background-size: auto 100%;
    }

    .page.head .main-title {
        background-size: 120% auto;
    }

    .page.head .text-container {
        width: 270px;
    }

    .footer {
        grid-template-rows: repeat(5, auto);
        grid-template-columns: 1fr;
        grid-template-areas: "A" "B" "C" "D" "E";
    }

    .contact {
        display: flex;
    }

    .contact .qr {
        width: 50%;
        height: 100%;
    }
}
